@page
@model ERP_APP.Pages.PCreateModel

@{
    ViewData["Title"] = "PCreate";
    Layout = "~/Pages/Shared/_LayoutWelcome.cshtml";
}

<h1>Üretim Planlama</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <h7> Ürün ID </h7>

                    @Html.DisplayFor(model => model.TblWarehouses.ProductId)
                    @Html.DisplayFor(model => model.P.ProductId)

                    <input type="hidden" name="proID" asp-for="TblWarehouses.ProductId" class="form-control" />

                    <span asp-validation-for="P.ProductId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <h7> Seri Numarası </h7>
                    <input asp-for="P.SerialNum" class="form-control" />
                    <span asp-validation-for="P.SerialNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h7> Durumu </h7>
                    <input asp-for="P.Status" class="form-control" />
                    <span asp-validation-for="P.Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h7> Son İşlem Tarihi </h7>
                    <input asp-for="P.UpdateDate" class="form-control" />
                    <span asp-validation-for="P.UpdateDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h7> Üretim Tipi </h7>
                    <input asp-for="P.ProductionType" class="form-control" />
                    <span asp-validation-for="P.ProductionType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h7> Kablaj Tipi </h7>
                    <input asp-for="P.HarnessType" class="form-control" />
                    <span asp-validation-for="P.HarnessType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h7> Bildirimler </h7>
                    <input asp-for="P.Notification" class="form-control" />
                    <span asp-validation-for="P.Notification" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h7> Nerede </h7>
                    <input asp-for="P.Place" class="form-control" />
                    <span asp-validation-for="P.Place" class="text-danger"></span>
                </div>

                <div class="form-group">
                    
                    <input type="hidden" asp-for="P.IsOuality" class="form-control" />
                    <span asp-validation-for="P.IsOuality" class="text-danger"></span>
                </div>
                <div class="form-group">
                    
                    <input type="hidden" asp-for="P.IsFinal" class="form-control" />
                    <span asp-validation-for="P.IsFinal" class="text-danger"></span>
                </div>
                <div class="form-group">
                  
                    <input type="hidden" asp-for="P.IsTest" class="form-control" />
                    <span asp-validation-for="P.IsTest" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h7> Not </h7>
                    <input asp-for="P.Remarks" class="form-control" />
                    <span asp-validation-for="P.Remarks" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-page="WDisplay" class="btn btn-secondary btn-icon-split">

                        <span class="text">Listeye Dön</span>

                    </a>
                    <input type="submit" value="Oluştur" class="btn btn-primary" />

                </div>
            </form>
        </div>
    </div>

    

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
