@page
@model ERP_APP.Pages.WelcomeModel
@{
    Layout = "~/Pages/Shared/_LayoutWelcome.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>

</body>
</html>